/* Import Inter & Makondo from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

:root {
    --color-brown: #3A2620;
    --color-grey: #AA9581;
    --color-dark-blue: #416a8e;
    --color-light-blue: #7A9FC2;
    --white: #ffffff;
    --black: #000000;

    --font-boardgame: 'Makondo', cursive;
    --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-boardgame);
  color: var(--color-brown);
  text-transform: uppercase;
}

.sub-heading-color {
  color: var(--color-dark-blue);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */

#navbar {
    background-color: var(--color-brown);
}

#navbar .logo {
    width: 30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);
}


/*
.container,
.row {
  border: 2px solid var(--black);
}

.col-12 {
  border: 2px solid var(--white);
  background-color: var(--color-grey);
} */