/* Import Inter & Makondo from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

:root {
    --color-dark-brown: #3A2620;
    --color-light-brown: #AA9581;
    --color-dark-blue: #416a8e;
    --color-light-blue: #7A9FC2;
    --color-white: #ffffff;
    --color-black: #000000;

    --font-boardgame: 'Makondo', cursive;
    --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-boardgame);
  color: var(--color-dark-brown);
}

.sub-heading0color {
  color: var(--color-dark-blue);
}